<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Suite">
	<test name="Selenium Features Test">
		<groups>
			<run>
				<include name="regression" />
			</run>
		</groups>
		<classes>
			<class name="toolsqa.TestNgTags">
				<methods>
					<exclude name="method_4" />
				</methods>
			</class>
		</classes>
	</test>
</suite>

