<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Clockify Suite" parallel="false"> <!-- Ensure parallel=false -->

	<test name="Login Test">
		<classes>
			<class name="me.clockify.app.testcase.TC_01_LoginWithGmail" />
		</classes>
	</test>

	<test name="Timesheet Test">
		<classes>
			<class name="me.clockify.app.testcase.TC_02_AddTimeSheet" />
		</classes>
	</test>

</suite>